{% extends 'layout.html' %}

{% block content %}
{% include 'concept_nav.html' %}



<div class="container-fluid min-vh-100 d-flex flex-column">	

	<div class="row pt-3">

		<div class="col-lg-3">
		</div>

		<div class="col-lg-6 fs-5">
			<h2 class="mt-3 mb-3">Agency</h2>
			<p>Sympathetic Intelligence is effectively a thread that weaves its way through society, effectively creating what is often described as the fabric of society. Viewed in this way, each of us then is in effect an agent of sympathetic intelligence. One way to think of it is that we are each of us a needle or perhaps we are each of us a spindle on the weavers press. The fabric of society is weakest where those of us are not properly threading our share of the weaving process. 

			<p>Our societies will be more robust and harmonious where we are each of us acting in sympathy with those around us. And just like the most beautiful garments, this thread of life comes in an infinite array of colors and textures - so, we each have a slightly different version of ourselves and our sympathetic intelligence to contribute to the overall fabric of society. Police Officers are each of them agents for the contribution the policing community plays, which is a unique and critical element holding the fabric of society together, and allowing it to flow safely with the shifting tides of time and season.....
			</p>
		</div>

		<div class="col-lg-3">
		</div>
		
	</div>
</div>









{% endblock %}