{% extends 'layout.html' %}

{% block content %}
{% include 'concept_nav.html' %}



<div class="container-fluid min-vh-100 d-flex flex-column">	

	<div class="row pt-3">

		<div class="col-lg-3">
		</div>

		<div class="col-lg-6 fs-5">
			<h2 class="mt-3 mb-3">Countering</h2>
				<p>The goal here is to extinguish the motivator for whatever it is that is driving an individual’s inappropriate actions. Something has set them on a path, and the path that has been chosen is a path that is causing them to act in a manner that is unlawful and perhaps even dangerous for themselves and others. 

				<p>Essentially, the individual is using their sympathetic intelligence to behave in a way that neutralizes, counters or disarms a person who is attempting to subject them to their will. 

				<p>The obvious way to achieve this would be to behave in a way that is ultra sympathetic. This should be considered the optimal way to counter or disarm them.  

				<p>However, another way to achieve this is to behave in a manner that runs counter to what would normally be expected. In other words, to act in a manner that is NOT in sympathy with the circumstances that they are attempting to either assert or establish. 

				<p>A classic way to achieve this is to use humor, and most likely this is the way most people would naturally use sympathetic intelligence in their day to day work, without even thinking about it. However, there may be situations where something even more extreme is required. 

				<p>The '<em>Gregarious</em>' nature of an individual will naturally put this aspect at their disposal and in their favor.

			</p>
		</div>

		<div class="col-lg-3">
		</div>
		
	</div>
</div>









{% endblock %}