{% extends 'layout.html' %}

{% block content %}
{% include 'concept_nav.html' %}



<div class="container-fluid min-vh-100 d-flex flex-column">	

	<div class="row pt-3">

		<div class="col-lg-3">
		</div>

		<div class="col-lg-6 fs-5">
			<h2 class="mt-3 mb-3">Perspective Deficit</h2>
			<p>In any one moment, no matter how proximate, two individuals never have the same perspective. We call this Perspective Deficit – it is essentially the difference between any two individuals’ perspectives in any one moment.

			<p>	Between individuals, Sympathetic Intelligence, is essentially what happens in the space occupied by Perspective Deficit. Where there is perspective deficit, sympathetic intelligence offers both a means and an opportunity to seamlessly bridge the gap between them. 

			<p> So, it should be clear from this, that Sympathetic Intelligence has the potential to play an extremely important role in keeping us connected, and most importantly, connected to the same reality, even though the various and different perspectives can suggest or even promote totally alternative views of the same reality. 

			<p> That <em>Connection</em> has the potential to significantly reduce the negative influence that Perspective Deficit could otherwise bring. It may even have the capacity to reverse, dissolve or even remove inferences that the deficit has promoted.
			</p>
		</div>

		<div class="col-lg-3">
		</div>
		
	</div>
</div>









{% endblock %}