{% extends 'layout.html' %}

{% block content %}
{% include 'concept_nav.html' %}



<div class="container-fluid min-vh-100 d-flex flex-column">	

	<div class="row pt-3">

		<div class="col-lg-3">
		</div>

		<div class="col-lg-6 fs-5">
			<h2 class="mt-3 mb-3">Presence and Reflections</h2>
			<p>Essentially, it means being aware of the impact our presence has in the moment. Generally speaking, we believe that as we approach a situation, we use our Sympathetic Intelligence to feel and then inform us as to how to conduct ourselves, so that our presence is in sync with the elements of the moment – we are not destabilizing it - we are conducting ourselves in a manner whereby our actions meet the expectations of others around us and we are in sync with the flux of the moment. Stated simply; we are attempting to conduct ourselves in a manner that is appropriate to the prevailing circumstances, assisted with reference to our training programs, patrol guides and now a keen grasp and sense of the role that Sympathetic Intelligence plays in our interactions with the public. 

			<p>To a degree, we react or act according to the inferences we are making from the responses we are receiving to our Presence in the moment. From the moment we engage, we become increasingly, more a connected part of that moment and the other elements in it. The reactions and behaviors of others in that moment in a sense and to a degree then become reflections of our responses, which are due to the inferences we are duly making from their actions. Though separate, the actions and/or reactions of those other parties in the moment become ever more intrinsically connected to our presence in the moment. This is how presence and reflections are a key component part of Sympathetic Intelligence.

			<p>The concept and theory of Sympathetic Intelligence, suggests that ‘Group Flow State’ as conceived by Michail Csikszentmihalyi is a natural consequence of Sympathetic Intelligence. In other words that ‘Flow’ may be a component part of Sympathetic Intelligence. Unfortunately, while this does have the potential to bring benefit - in that we can work together as a well orchestrated team in numerous circumstances - on a football field, or as a flight crew on a transatlantic flight, it can also amplify the negative consequences of ‘groupthink’ amongst a team. 

			</p>
		</div>

		<div class="col-lg-3">
		</div>
		
	</div>
</div>









{% endblock %}