{% extends 'layout.html' %}

{% block content %}
{% include 'concept_nav.html' %}



<div class="container-fluid min-vh-100 d-flex flex-column">	

	<div class="row pt-3">

		<div class="col-lg-3">
		</div>

		<div class="col-lg-6 fs-5">
			<h2 class="mt-3 mb-3">Processification</h2>
			
			<p>Processification refers to an old concept by the 19th century sociologist Max Weber who noted in politics and authority that “charismatic” beginnings often turned into routine operations sustained by bureaucracy. This is a natural process as humans adapt to the novel or become energetic. It is even a key part of how the brain works where sensory adaptation to stable or repeated images is the rule so the brain can focus on what is novel and interesting. What also happens, particularly in organizations, is that over time, adaptation itself is forgotten, leaving those now with just the process.</p>

			<p>Processification has many faces. In education for example it can be seen in the consumerization of education, the reduction of face time between educators and students, the increase in student numbers per classroom, often for financial reasons, etc. In policing it is seen when the Letter of the Law is prioritized over the Spirit of the Law. In healthcare it is seen when the completion of forms on a laptop takes precedence over empathetic engagement with the patient.</p>

			<p>The key to understanding the insipid nature of processification is this; any one incremental change in process has little to no visible negative consequence, and over time we have all adapted to many of these changes. This is a bit like driving a car with a manual clutch, when over time, the clutch gets gradually harder to press – the driver does not notice. Only when someone else drives the car is the change noticed. </p>

			<p>Processification erodes the role of the individual in our engagements with each other, but it is especially damaging when professional conduct is eroded by it. Taking the educator out of the classroom, removing the police officer's discretion and diverting the doctor's gaze from the patient to their laptop are just some examples.</p>

			<p>Without a realization for processification's insipid erosion of society, and a pro-active determination to remove it, the modern environment with our devices and our increasing reliance on AI will see the disconnect in society grow ever wider, and our civility ever dimmer.</p>
			
		</div>

		<div class="col-lg-3">
		</div>
		
	</div>
</div>









{% endblock %}