{% extends 'layout.html' %}

{% block content %}
{% include 'concept_nav.html' %}



<div class="container-fluid min-vh-100 d-flex flex-column">	

	<div class="row pt-3">

		<div class="col-lg-3">
		</div>

		<div class="col-lg-6 fs-5">
			<h2 class="mt-3 mb-3">Subliminal Exposition</h2>
			<p>
				Subliminality is a very important component part of Sympathetic Intelligence, as it refers to the way our Sympathetic Intelligence can be revealed through our actions, without our intending it to be. We use the term to reference all of the many ways we might ‘message’ or reveal our true state of mind and intentions unwittingly. This is a natural process, not a conscious and deliberate one, (though there may be the possibility of creating an awareness for it, and potentially training the individual to harness this natural process - that is for further down the road). 

				<p>So for example, our disposition could contain any number of subliminal messages, from our posture to the clothes we choose to wear. e.g. you wouldn’t or certainly shouldn’t turn up in a mini skirt at a funeral. If you did you might unwittingly be declaring an actual lack of respect for the deceased.

				<p>One specific form of Subliminality, we call Subliminal Exposition. This is a form of subliminal message that refers specifically to our choice of words, as opposed to our choice of clothes. The best example we presently have for it, comes from an essay that Robert originally wrote when he was asked to explain the origins of the concept. In the essay Robert was telling the story about how he approached a famous rock band to play for a Peace Initiative he had organized. In order to explain this concept, we will quote from that essay as follows:

			</p>
		</div>

		<div class="col-lg-3">
		</div>
		
	</div>
</div>









{% endblock %}