{% extends 'layout.html' %}

{% block content %}
{% include 'center_nav.html' %}
<div class="container-fluid min-vh-100 d-flex flex-column inner-page panels">	


	<div class="row big-image inner-page">
		<div class="col-lg-3 mt-5">
			{% include 'panels_nav.html' %}
		</div>
		<div class="col-lg-6 bg-white mt-5">
			<div class="inner-main-content">
				<h2>Applications</h2>
				<p>
				As we learn more about the phenomenon and nature of sympathetic intelligence, we realize that the possibilities for its application are simply endless. There is simply no part of the human existence that does not involve sympathetic intelligence to at least some degree, however small. 
				</p><p>
				Also, at the center for sympathetic intelligence we have realized that the introduction of the concept will take time to develop and we believe it's application is more about optimizing and understanding the presence that it already has in our lives. In other words the more informed we are about it the more likely we are able to apply it in a constructive and more contributive manner. 
				</p><p>
				In order to begin the process of developing and applying our understanding of the concept we have created three panels dedicated to researching and developing its presence and application in the three professional communities within society. 
				</p><p>
				The selection of these professions, is neither random nor accidental. Not only are they probably the three largest professions within society, they are pivotal professions that each has an element of Civil Duty. 
				</p><p>
				The panels are; The Education panel, The Health care panel, and The Police Panel. You can visit each Panel's page using the tabs at the left of this page.
				</p><p>
				We will add more panels as the work of The Center develops.
				</p>
			</div>
		</div>
	</div>
		


</div> <!-- container -->
{% endblock %}