{% extends 'layout.html' %}

{% block content %}
{% include 'concept_nav.html' %}
<div class="container-fluid min-vh-100 d-flex flex-column" data-bs-theme='concept'>	

	<div class="row pt-3">

		<div class="col-lg-3">
		</div>

		<div class="col-lg-6 fs-5">
			<h2 class="mt-3 mb-3">Aspects</h2>
			<p>Sympathetic Intelligence is ubiquitous. However, many aspects of our lives, viewed through the lens of Sympathetic Intelligence take on a whole new meaning and significance. We describe some of these aspects as follows:-
			</p>
			<div class="accordion accordion-flush" id="accordionFlush">
			  <div class="accordion-item">
			    <h4 class="accordion-header">
			      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse1" aria-expanded="false" aria-controls="flush-collapse1">
			        Processification
			      </button>
			    </h4>
			    <div id="flush-collapse1" class="accordion-collapse collapse" data-bs-parent="#accordionFlush">
			      <div class="accordion-body">
			      	<p>As a matter of fact, every purpose needs a process, and stated simply; processification is the placement of process over purpose. It occurs when the process takes precedence over the purpose it was created to serve....<a href="{{ url_for('processification', theme='concept') }}">Read More</a></p>
			      </div>
			    </div>
			  </div>
			  <div class="accordion-item">
			    <h4 class="accordion-header">
			      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse2" aria-expanded="false" aria-controls="flush-collapse2">
			        Perspective Deficit
			      </button>
			    </h4>
			    <div id="flush-collapse2" class="accordion-collapse collapse" data-bs-parent="#accordionFlush">
			      <div class="accordion-body">Placeholder content for this accordion. This is the second item's accordion body. Let's imagine this being filled with some actual content.</div>
			    </div>
			  </div>
			  <div class="accordion-item">
			    <h4 class="accordion-header">
			      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse3" aria-expanded="false" aria-controls="flush-collapse3">
			        Revisable Inference
			      </button>
			    </h4>
			    <div id="flush-collapse3" class="accordion-collapse collapse" data-bs-parent="#accordionFlush">
			      <div class="accordion-body">Placeholder content for this accordion. This is the third item's accordion body. Nothing more exciting happening here in terms of content, but just filling up the space to make it look, at least at first glance, a bit more representative of how this would look in a real-world application.</div>
			    </div>
			  </div>

			  <div class="accordion-item">
			    <h4 class="accordion-header">
			      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse4" aria-expanded="false" aria-controls="flush-collapse4">
			        Reflective Spontaneity
			      </button>
			    </h4>
			    <div id="flush-collapse4" class="accordion-collapse collapse" data-bs-parent="#accordionFlush">
			      <div class="accordion-body">Placeholder content for this accordion. This is the third item's accordion body. Nothing more exciting happening here in terms of content, but just filling up the space to make it look, at least at first glance, a bit more representative of how this would look in a real-world application.</div>
			    </div>
			  </div>

			  <div class="accordion-item">
			    <h4 class="accordion-header">
			      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse5" aria-expanded="false" aria-controls="flush-collapse5">
			        Countering
			      </button>
			    </h4>
			    <div id="flush-collapse5" class="accordion-collapse collapse" data-bs-parent="#accordionFlush">
			      <div class="accordion-body">Placeholder content for this accordion. This is the third item's accordion body. Nothing more exciting happening here in terms of content, but just filling up the space to make it look, at least at first glance, a bit more representative of how this would look in a real-world application.</div>
			    </div>
			  </div>

			  <div class="accordion-item">
			    <h4 class="accordion-header">
			      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse6" aria-expanded="false" aria-controls="flush-collapse6">
			        Subliminal Exposition
			      </button>
			    </h4>
			    <div id="flush-collapse6" class="accordion-collapse collapse" data-bs-parent="#accordionFlush">
			      <div class="accordion-body">Placeholder content for this accordion. This is the third item's accordion body. Nothing more exciting happening here in terms of content, but just filling up the space to make it look, at least at first glance, a bit more representative of how this would look in a real-world application.</div>
			    </div>
			  </div>

			  <div class="accordion-item">
			    <h4 class="accordion-header">
			      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse7" aria-expanded="false" aria-controls="flush-collapse7">
			        Agency
			      </button>
			    </h4>
			    <div id="flush-collapse7" class="accordion-collapse collapse" data-bs-parent="#accordionFlush">
			      <div class="accordion-body">Placeholder content for this accordion. This is the third item's accordion body. Nothing more exciting happening here in terms of content, but just filling up the space to make it look, at least at first glance, a bit more representative of how this would look in a real-world application.</div>
			    </div>
			  </div>
			</div>

		</div>

		<div class="col-lg-3">
		</div>
		
	</div>
</div>

{% endblock %}