{% extends 'layout.html' %}

{% block content %}
{% include 'concept_nav.html' %}
<div class="container-fluid min-vh-100 d-flex flex-column">	

	<div class="row pt-3">

		<div class="col-lg-3">
		</div>

		<div class="col-lg-6">
			<h2 class="mt-3 mb-3">Aspects</h2>
			<p><p class="fs-5">Sympathetic Intelligence is ubiquitous. However, many aspects of our lives, viewed through the lens of Sympathetic Intelligence take on a whole new meaning and significance. We describe some of these aspects as follows:-
			</p>
				<!-- <ul class="fs-5">
					<li>Processification</li>
					<li>Perspective Deficit</li>
					<li>Revisable Inference</li>
					<li>Presence and Reflections</li>
					<li>Reflective Spontaneity</li>
					<li>Countering (Countering)</li>
					<li>Subliminal Exposition</li>
					<li>Agency</li>

				</ul> -->
					<H4>Processification</H4>
					
					<p><p class="fs-5">As a matter of fact, every purpose needs a process, and stated simply; processification is the placement of process over purpose. It occurs when the process takes precedence over the purpose it was created to serve....<a href="{{ url_for('processification', theme='concept') }}">Read More</a></p>
					<H4>Perspective Deficit</H4>
					<p><p class="fs-5">Xxxxxx xxxxxx xxxxx xxxxxXxxxxx xxxxxx xxxxx xxxxxXxxxxx xxxxxx xxxxx xxxxxXxxxxx xxxxxx xxxxx xxxxxXxxxxx xxxxxx xxxxx xxxxxXxxxxx xxxxxx xxxxx xxxxxXxxxxx xxxxxx xxxxx xxxxx...<a href="{{ url_for('perspective_deficit', theme='concept') }}">Read More</a></p>
					<H4>Revisable Inference</H4>
					<p><p class="fs-5">Xxxxxx xxxxxx xxxxx xxxxxXxxxxx xxxxxx xxxxx xxxxxXxxxxx xxxxxx xxxxx xxxxxXxxxxx xxxxxx xxxxx xxxxxXxxxxx xxxxxx xxxxx xxxxxXxxxxx xxxxxx xxxxx xxxxxXxxxxx xxxxxx xxxxx xxxxx...<a href="{{ url_for('revisable_inference', theme='concept') }}">Read More</a></p>
					<H4>Presence and Reflections</H4>
					<p><p class="fs-5">Xxxxxx xxxxxx xxxxx xxxxxXxxxxx xxxxxx xxxxx xxxxxXxxxxx xxxxxx xxxxx xxxxxXxxxxx xxxxxx xxxxx xxxxxXxxxxx xxxxxx xxxxx xxxxxXxxxxx xxxxxx xxxxx xxxxxXxxxxx xxxxxx xxxxx xxxxx...<a href="{{ url_for('presence_and_reflections', theme='concept') }}">Read More</a></p>
					<H4>Reflective Spontaneity</H4>
					<p><p class="fs-5">Xxxxxx xxxxxx xxxxx xxxxxXxxxxx xxxxxx xxxxx xxxxxXxxxxx xxxxxx xxxxx xxxxxXxxxxx xxxxxx xxxxx xxxxxXxxxxx xxxxxx xxxxx xxxxxXxxxxx xxxxxx xxxxx xxxxxXxxxxx xxxxxx xxxxx xxxxx...<a href="{{ url_for('reflective_spontaneity', theme='concept') }}">Read More</a></p>
					<H4>Countering</H4>
					<p><p class="fs-5">Xxxxxx xxxxxx xxxxx xxxxxXxxxxx xxxxxx xxxxx xxxxxXxxxxx xxxxxx xxxxx xxxxxXxxxxx xxxxxx xxxxx xxxxxXxxxxx xxxxxx xxxxx xxxxxXxxxxx xxxxxx xxxxx xxxxxXxxxxx xxxxxx xxxxx xxxxx...<a href="{{ url_for('countering', theme='concept') }}">Read More</a></p>
					<H4>Subliminal Exposition</H4>
					<p><p class="fs-5">Xxxxxx xxxxxx xxxxx xxxxxXxxxxx xxxxxx xxxxx xxxxxXxxxxx xxxxxx xxxxx xxxxxXxxxxx xxxxxx xxxxx xxxxxXxxxxx xxxxxx xxxxx xxxxxXxxxxx xxxxxx xxxxx xxxxxXxxxxx xxxxxx xxxxx xxxxx...<a href="{{ url_for('subliminal_exposition', theme='concept') }}">Read More</a></p>
					<H4>Agency</H4>
					<p><p class="fs-5">Xxxxxx xxxxxx xxxxx xxxxxXxxxxx xxxxxx xxxxx xxxxxXxxxxx xxxxxx xxxxx xxxxxXxxxxx xxxxxx xxxxx xxxxxXxxxxx xxxxxx xxxxx xxxxxXxxxxx xxxxxx xxxxx xxxxxXxxxxx xxxxxx xxxxx xxxxx...<a href="{{ url_for('agency', theme='concept') }}">Read More</a></p>

		</div>

		<div class="col-lg-3">
		</div>
		
	</div>
</div>

{% endblock %}