{% extends 'layout.html' %}

{% block content %}
{% include 'concept_nav.html' %}
<div class="container-fluid min-vh-100 d-flex flex-column" data-bs-theme='concept'>	

	<div class="row pt-3">

		<div class="col-lg-3">
		</div>

		<div class="col-lg-6 fs-5">
			<h2 class="mt-3 mb-3">Aspects</h2>
			<p>Sympathetic Intelligence is ubiquitous. However, many aspects of our lives, viewed through the lens of Sympathetic Intelligence take on a whole new meaning and significance. We describe some of these aspects as follows:-
			</p>
			<div class="accordion accordion-flush" id="accordionFlush">
			  <div class="accordion-item">
			    <h4 class="accordion-header">
			      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse1" aria-expanded="false" aria-controls="flush-collapse1">
			        Processification
			      </button>
			    </h4>
			    <div id="flush-collapse1" class="accordion-collapse collapse" data-bs-parent="#accordionFlush">
			      <div class="accordion-body">
			      	<p>Every purpose needs a process, and stated simply; processification is the placement of process over purpose. It occurs when the process takes precedence over the purpose it was created to serve....<a href="{{ url_for('processification', theme='concept') }}">Read More</a></p>
			      </div>
			    </div>
			  </div>
			  <div class="accordion-item">
			    <h4 class="accordion-header">
			      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse2" aria-expanded="false" aria-controls="flush-collapse2">
			        Perspective Deficit
			      </button>
			    </h4>
			    <div id="flush-collapse2" class="accordion-collapse collapse" data-bs-parent="#accordionFlush">
			      <div class="accordion-body">There is one thing that absolutely and definitively separates each and every individual in any one context and moment, and that is our perspective. ... <a href="{{ url_for('perspective_deficit', theme='concept') }}">Read More</a></div>
			    </div>
			  </div>
			  <div class="accordion-item">
			    <h4 class="accordion-header">
			      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse3" aria-expanded="false" aria-controls="flush-collapse3">
			        Revisable Inference
			      </button>
			    </h4>
			    <div id="flush-collapse3" class="accordion-collapse collapse" data-bs-parent="#accordionFlush">
			      <div class="accordion-body">When we engage in any one moment, we are making inferences based on our perceptions, which then become the basis for our response to those perceptions....<a href="{{ url_for('revisable_inference', theme='concept') }}">Read More</a></div>
			    </div>
			  </div>

			  <div class="accordion-item">
			    <h4 class="accordion-header">
			      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse8" aria-expanded="false" aria-controls="flush-collapse8">
			        Presence and Reflections
			      </button>
			    </h4>
			    <div id="flush-collapse8" class="accordion-collapse collapse" data-bs-parent="#accordionFlush">
			      <div class="accordion-body">Presence helps to ground us from becoming lost in the state of sensory flux that we are subject to at any given moment.<a href="{{ url_for('presence_and_reflections', theme='concept') }}">Read More</a></div>
			    </div>
			  </div>

			  <div class="accordion-item">
			    <h4 class="accordion-header">
			      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse4" aria-expanded="false" aria-controls="flush-collapse4">
			        Reflective Spontaneity
			      </button>
			    </h4>
			    <div id="flush-collapse4" class="accordion-collapse collapse" data-bs-parent="#accordionFlush">
			      <div class="accordion-body">This is natural spontaneity that is nonetheless sympathetic, because the individual has contemplated and reflected upon the depthful nature of sympathetic intelligence. <a href="{{ url_for('reflective_spontaneity', theme='concept') }}">Read More</a></div>
			    </div>
			  </div>

			  <div class="accordion-item">
			    <h4 class="accordion-header">
			      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse5" aria-expanded="false" aria-controls="flush-collapse5">
			        Countering
			      </button>
			    </h4>
			    <div id="flush-collapse5" class="accordion-collapse collapse" data-bs-parent="#accordionFlush">
			      <div class="accordion-body">Using Sympathetic Intelligence to behave in a way that neutralizes, counters or disarms a person...<a href="{{ url_for('countering', theme='concept') }}">Read More</a></div>
			    </div>
			  </div>

			  <div class="accordion-item">
			    <h4 class="accordion-header">
			      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse6" aria-expanded="false" aria-controls="flush-collapse6">
			        Subliminal Exposition
			      </button>
			    </h4>
			    <div id="flush-collapse6" class="accordion-collapse collapse" data-bs-parent="#accordionFlush">
			      <div class="accordion-body">Subliminality refers to the way our <em>Sympathetic Intelligence</em> can be revealed through our actions, without our intending it to be.....<a href="{{ url_for('subliminal_exposition', theme='concept') }}">Read More</a></div>
			    </div>
			  </div>

			  <div class="accordion-item">
			    <h4 class="accordion-header">
			      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse7" aria-expanded="false" aria-controls="flush-collapse7">
			        Agency
			      </button>
			    </h4>
			    <div id="flush-collapse7" class="accordion-collapse collapse" data-bs-parent="#accordionFlush">
			      <div class="accordion-body">Sympathetic Intelligence is effectively a thread that weaves its way through society, effectively creating what is often described as the fabric of society....<a href="{{ url_for('agency', theme='concept') }}">Read More</a></div>
			    </div>
			  </div>
			</div>

		</div>

		<div class="col-lg-3">
		</div>
		
	</div>
</div>

{% endblock %}