{% extends 'layout.html' %}

{% block content %}
{% include 'center_nav.html' %}
<div class="container-fluid min-vh-100 d-flex flex-column">	
	<div class="row big-image inner-page">
		<div class="col-lg-3 mt-5">
			
		</div>
		<div class="col-lg-6 bg-white mt-5">
			<div class="inner-main-content">
				<h2>Contibuting to the Center</h2> 

				<p>
				In the spirit of sympathetic intelligence itself, we seek contributions at the intersetion of SI and your domain. To contirbute research, please xyz...
				</p>
				<p>
				We are also looking for volunteers running the center - Please go to the <a href="">Volunteering</a> page for details.
				</p>
				<p>
				We are a registered non-for-profit organization. Your financial contributions are what makes this center operate. To donate, go to <a href="">Donations</a>.
				</p>

			</div>
		</div>
	</div>
</div> <!-- container -->
{% endblock %}