{% extends 'layout.html' %}

{% block content %}
{% include 'center_nav.html' %}
<div class="container-fluid min-vh-100 d-flex flex-column">	
	<div class="row big-image inner-page">
		<div class="col-lg-3 mt-5">
			
		</div>
		<div class="col-lg-6 bg-white mt-5">
			<div id="donate-button-container" class="justify-content-center d-flex mt-2">
				<div id="donate-button"></div>
				<script src="https://www.paypalobjects.com/donate/sdk/donate-sdk.js" charset="UTF-8"></script>
				<script>
				PayPal.Donation.Button({
				env:'production',
				hosted_button_id:'2CEQEM5YVDZ2N',
				image: {
				src:'https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif',
				alt:'Donate with PayPal button',
				title:'PayPal - The safer, easier way to pay online!',
				}
				}).render('#donate-button');
				</script>
			</div>
			<div class="inner-main-content mt-5">
				<h2>The Little Book of Sympathetic Intelligence Funding Campaign ({{country}},{{ip_address}},{{real_ip_address}})</h2> 
				<!--test-->

				<div class="row mt-4">
					<div class="col-lg-4">
						<div class="card">
						  <div class="card-body">
						    <h5 class="card-title display-3">{% if country == 'US' %}${% else %}€{% endif %}15</h5>
						    <!-- <h6 class="card-subtitle mb-2 text-body-secondary">or more</h6> -->
						    <p class="card-text small">Donations of {% if country == 'US' %}${% else %}€{% endif %}15 or more will entitle the donor to
								a pdf copy of the book for sharing, and inclusion on our <strong>Wall of Ambassadors</strong> (optional).</p>
								<div id="donate-button-1"></div>
									<script src="https://www.paypalobjects.com/donate/sdk/donate-sdk.js" charset="UTF-8"></script>
									<script>
									PayPal.Donation.Button({
									env:'production',
									hosted_button_id:'2CEQEM5YVDZ2N',
									image: {
									src:'https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif',
									alt:'Donate with PayPal button',
									title:'PayPal - The safer, easier way to pay online!',
									}
									}).render('#donate-button-1');
									</script>
						    <!-- <a href="#" class="card-link">Card link</a> -->
						  </div>
						</div>
					</div>
					<div class="col-lg-4">
						<div class="card">
						  <div class="card-body">
						    <h5 class="card-title display-3">{% if country == 'US' %}${% else %}€{% endif %}35</h5>
						    <!-- <h6 class="card-subtitle mb-2 text-body-secondary">Card subtitle</h6> -->
						    <p class="card-text small">Donations of {% if country == 'US' %}${% else %}€{% endif %}35 or more will earn the donor two printed copies of the book to give to a friend, a pdf copy of the book and inclusion on our <strong>Wall of Ambassadors</strong> (optional).</p>
						    <div id="donate-button-2"></div>
									<script src="https://www.paypalobjects.com/donate/sdk/donate-sdk.js" charset="UTF-8"></script>
									<script>
									PayPal.Donation.Button({
									env:'production',
									hosted_button_id:'2CEQEM5YVDZ2N',
									image: {
									src:'https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif',
									alt:'Donate with PayPal button',
									title:'PayPal - The safer, easier way to pay online!',
									}
									}).render('#donate-button-2');
									</script>
						    <!-- <a href="#" class="card-link">Card link</a> -->
						  </div>
						</div>
					</div>
					<div class="col-lg-4">
						
						<div class="card">
						  <div class="card-body">
						    <h5 class="card-title display-3">{% if country == 'US' %}${% else %}€{% endif %}50</h5>
						    <!-- <h6 class="card-subtitle mb-2 text-body-secondary">Card subtitle</h6> -->
						    <p class="card-text small">Donations of {% if country == 'US' %}${% else %}€{% endif %}50 or more will earn the donor an exclusive <em>Numbered Edition</em> copy of the book, two printed copies of the book, a pdf copy of the book and inclusion on our <strong>Wall of Ambassadors</strong>  (optional).</p>
						    <div id="donate-button-3"></div>
									<script src="https://www.paypalobjects.com/donate/sdk/donate-sdk.js" charset="UTF-8"></script>
									<script>
									PayPal.Donation.Button({
									env:'production',
									hosted_button_id:'2CEQEM5YVDZ2N',
									image: {
									src:'https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif',
									alt:'Donate with PayPal button',
									title:'PayPal - The safer, easier way to pay online!',
									}
									}).render('#donate-button-3');
									</script>
						    <!-- <a href="#" class="card-link">Card link</a> -->
						  </div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</div> <!-- container -->
{% endblock %}