{% extends 'layout.html' %}

{% block content %}
{% include 'center_nav.html' %}
<div class="container-fluid min-vh-100 d-flex flex-column inner-page panels">	


	<div class="row big-image inner-page">
		<div class="col-lg-3 mt-5">
			{% include 'panels_nav.html' %}
		</div>
		<div class="col-lg-6 bg-white mt-5">
			<div class="inner-main-content">
				<h2>Panels</h2>
				<p>
				As you will find in the Applications section of the Concept side of this site, applications for Sympathetic Intelligence are simply ubiquitous. The goal of The Center is to research existing applications of Sympathetic Intelligence and then use that research to find ways to optimise those existing applications.
				</p><p>
				Because of the ubiquitous nature of Sympathetice Intelligence, we have narrowed our focus to three distinct professions in the community where the application of sympathetic intelligence is critical. These are professions where the quality of each and every citizens’ day-to-day life is directly impacted in a way that has very broad implications for the quality of each society and culture. So our mission at the outset involves dedicating ourselves and focusing on the research in those three areas. 
				</p><p>
				Those three areas are as follows:
				</p>
				<ul>
					<li>The Education Community</li>
					<li>The Healthcare community, and;</li>
					<li>The Policing Community.</li>
				</ul>
				<p>
				In pursuit of the Center's goal, we have set up a panel for each of these communities. To find out more about each panel's work select any one of the tabs for them.
				</p>
			</div>
		</div>
	</div>
		


</div> <!-- container -->
{% endblock %}