{% extends 'layout.html' %}

{% block content %}
{% include 'center_nav.html' %}
<div class="container-fluid min-vh-100 d-flex flex-column inner-page panels">	


	<div class="row big-image inner-page">
		<div class="col-lg-3 mt-5">
			{% include 'panels_nav.html' %}
		</div>
		<div class="col-lg-6 bg-white mt-5">
			<div class="inner-main-content">
				<h2>The Panels</h2>
				<p>
				If we look at the <em>sympathetic intelligence</em> construct, which can be found on the concept side of
				the website, you will see that <em>sympathetic intelligence</em> is ubiquitous in our lives and is present
				<em>within, between and amongst</em> us. The last tier defines society in its entirety, for <em>we live, we
				learn</em> and <em>we work</em>.
				</p><p>
				In every context where we interact, <em>sympathetic intelligence</em> is present. In the last layer of the
				third tier work there are three vital services in society they are:- healthcare education and
				policing. The reason these three professions are so important is because the quality of our
				social existence depends on them. These are essential services, the quality of which defines the
				quality of each society. That&#39;s not to say that we don&#39;t need barbers, that we don&#39;t need
				engineers or mechanics - we do! But the impact of these three primary professions on the
				quality of our society is critical. To an extent these professions even mirror the layers within the
				third tier as follows; Health is critical to our lives and even the ability to live; Education is critical
				to our capacity to learn and; Policing in our society involves order, process, rules and
				regulations - so that we can work together effectively.
				</p><p>
				The mission of the center is to bring depth to life. That's because the more depth we have in
				the way we engage with each other, the better our lives. To achieve this, we need sympathetic
				intelligence. When our engagement is in sympathy with the needs of any moment, then the
				fullest depth of that moment’s needs, are met.
				</p><p>
				To deliver on our mission, we believe research in these three key areas, primarily at the outset
				is the right way to begin. Once we can identify existing sympathetic intelligence, understand it
				better and develop ways to improve and optimize <em>sympathetic intelligence</em> in our health care,
				education and policing we can really achieve our goal of bringing depth to life. And so, the first
				step in putting this mission in action is the setting up of these three panels.
				To learn more about the work of each of these panels select the tabs to the left to find out
				more about how this center is setting about delivering on its mission.
				</p>
			</div>
		</div>
	</div>
		


</div> <!-- container -->
{% endblock %}