{% extends 'layout.html' %}

{% block content %}
{% include 'center_nav.html' %}
<div class="container-fluid min-vh-100 d-flex flex-column">	


			<div class="row big-image inner-page">
				<div class="col-lg-3 mt-5">
					
				</div>
				<div class="col-lg-6 bg-white mt-5">
					<div class="inner-main-content">
						<h2 class="mb-3"> Publications</h2>

						



						<h3>Processification and the University Structure</h3> 
						<em>by Jim Stellar, Robert Hamilton and Emily Barrett</em>

						<p>
						University operations tend to grow like the crystalline arms of a snowflake or the organic branches of a tree. They start from a spot and branch out over decades (or even centuries) to form intricate organizational shapes. They are supported by a budget, just like any business. They would become desolate and barren landscapes but for their purpose and the processes put in place to support that purpose. The glue holding purpose and process together is Sympathetic Intelligence. When process becomes the master of purpose universities become unstuck.
						<a href="{{ url_for('static', filename='pdfs/Quo_vadis_21May23.pdf') }}" target="blank">Read PDF</a>
						</p>








						<h3>Processification and the University Structure</h3> 
						<em>by Jim Stellar, Robert Hamilton and Emily Barrett</em>

						<p>
						University operations tend to grow like the crystalline arms of a snowflake or the organic branches of a tree. They start from a spot and branch out over decades (or even centuries) to form intricate organizational shapes. They are supported by a budget, just like any business. They would become desolate and barren landscapes but for their purpose and the processes put in place to support that purpose. The glue holding purpose and process together is Sympathetic Intelligence. When process becomes the master of purpose universities become unstuck.
						<a href="https://otherlobe.com/papers/1238/" target="blank">https://otherlobe.com/papers/1238/</a>
						</p>

						<h3>Sympathetic Intelligence, Processification, and Engagement in the University</h3> 
						<em>by Jim Stellar, Robert Hamilton and Emily Barrett</em>

						<p>
						Colleges and universities are complex places. They have multiple missions including research, teaching, and service to the community. These missions are very old, go back centuries to the university’s historical origin from monasteries, and they do not always work together smoothly in contemporary times. Engagement is what fills the void between each of us and Sympathetic Intelligence determines the quality of that engagement to a significant degree. 
						<a href="https://otherlobe.com/papers/1227/" target="blank">https://otherlobe.com/papers/1227/</a>
						</p>

						<h3>Sympathetic Intelligence in Education</h3> 
						<em>by Robert Hamilton, Emily Barrett, and Jim Stellar</em>

						<p>
						What underlies the success of the Ninja instructor as discussed in the last blog?  We think the answer is most visible in the experiential context of project-based courses as discussed in the first blog. But then it goes much deeper and well into the larger teaching environment as we will lay out in this blog.
						<a href="http://otherlobe.com/papers/sympathetic-intelligence-in-education/" target="blank">http://otherlobe.com/papers/sympathetic-intelligence-in-education/</a>
						</p>


						<h3> Ninja – The Art of the Modern Instructor</h3>
						<em>by Robert Hamilton, Emily Barrett, and James Stellar</em>
						<p>
						In modern slang, Ninja means stealth and a Ninja is someone who commits “crazy” (outside the box) acts with powerfully positive results. Webster Dictionary defines a Ninja as “a person who excels in a particular skill.” We believe that Ninja lies at the core of what makes every instructor unique, powerful, and most importantly – effective. To us, Ninja is the bringing together of explicit and implicit approaches to teaching. These approaches and subsequent skills are what sets an excellent instructor apart from the rest. It is our hope over the course of this document and in subsequent pieces to explore the nexus between the explicit and implicit components of the brain and mind, and the role this nexus plays in both how we learn and teach.
						<a href="http://otherlobe.com/papers/ninja-the-art-of-the-modern-instructor/" target="blank">http://otherlobe.com/papers/ninja-the-art-of-the-modern-instructor/</a>
						</p>


						<h3>CONTRIBUTIVE PATHWAYS</h3> 
						<em>By Robert Hamilton, Emily Barrett, and James Stellar</em>
						<p>
						In July, 2017 two instructors at the University of Albany, SUNY, in the College of Emergency Preparedness, Homeland Security, and Cybersecurity[1], SUNY, Robert Hamilton and Emily Barrett, came face-to-face in a chance meeting during lunchtime.
						<br><br>
						Over the course of a two-hour conversation they both realized that each held a different piece of the same jigsaw puzzle, Robert was involved in the development of a new undergraduate course on cybersecurity, called “The Threat Within” that was based on virtual internships and was done in partnership with a company, iQ4,and Emily was involved in creating a program of real-world Internships for undergraduate students at the college. They quickly realized that they should be partners in a dual pursuit.
						<a href="http://otherlobe.com/papers/contributive-pathways/" target="blank">http://otherlobe.com/papers/contributive-pathways/</a>
						</p>
					</div>
				</div>
			</div>
				


		</div> <!-- container -->
{% endblock %}