{% extends 'layout.html' %}

{% block content %}
{% include 'center_nav.html' %}
<div class="container-fluid min-vh-100 d-flex flex-column">	
	<div class="row big-image inner-page">
		<div class="col-lg-3 mt-5">
			
		</div>
		<div class="col-lg-6 bg-white mt-5">
			<div class="inner-main-content">
				<h2>Research</h2> 				
				The Center is involved in three research initiatives as follows:-
				</p><p>
				<strong> Measurement Tool</strong> 
				<br>Can Sympathetic Intelligence be measured? - We are working with several academics to build an analytic tool to answer this question. 
				</p><p>
				<b> Label-Free and Anonymous Survey</b>
				<br>How do people know Sympathetic Intelligence is present in their lives? - We are running an experiment to find the answer to this question. 
				</p><p>
				<b> Literature Review</b> 
				<br> Why haven't we heard of Sympathetic Intelligence before? - Sympathetic Intelligence has been around since the dawn of time. The literature is replete with reference to it, but never directly identifying it. Furthermore, many other concepts and theories are related to it. We are engaged in research to examine all of these related concepts with a view towards publishing a review that will explore the concept as it relates to all of these other theories and concepts.
				</p>

			</div>
		</div>
	</div>
</div> <!-- container -->
{% endblock %}