{% extends 'layout.html' %}

{% block content %}
{% include 'center_nav.html' %}
<div class="container-fluid min-vh-100 d-flex flex-column">	
	<div class="row big-image inner-page">
		<div class="col-lg-3 mt-5">
			
		</div>
		<div class="col-lg-6 bg-white mt-5">
			<div class="inner-main-content">
				<h2>TCfSI &amp;  SOS</h2> 
				<h5>The Center for Sympathetic Intelligence &amp;<br> Save Our Spectrum</h5>

				<h3>Two Initiatives - One Campaign!</h3>
				<p>
				The theme at the heart of both these initiatives has the same central purpose – creating more and better connectivity amongst society and between people. Technology is dividing the world and that’s not what we want from technology. 
				</p>
				<p>
				We all need and want a world that is United behind our commonality and focused on living together for the mutual benefit of EVERYONE.
				</p>
				<p>
				We need leadership that commands technology, not leadership that meekly goes wherever the will please the digital Gods.
				</p>
				<p>
				We need to reverse the casual drift into division that the digital world will lead us to. We need to take the initiative and seize control.
				</p>
				<p>
				The mission of the Center for Sympathetic Intelligence is to understand more about that which binds us together, naturally and with roots that cannot be easily unearthed. The fabric of society is our Sympathetic Intelligence – it is that invisible network that we rely on to keep us together and united in collective purpose. The mission of the ‘Save our Spectrum’ initiative is to reverse the ongoing trend of surrendering our radio wave spectrums to big tech. The spectrum is a fundamental and vital element of how we connect to create a better world.
				</p>
				<p>
				We are working TOGETHER FOR YOU – Please join us to ensure a more equitable, thriving and happy existance in all societies for EVERYONE.
				</p>
				<p>
				We will hold an international Virtual Forum on the Collaboration in August. If you are interested in attending – please complete the following form:- LINK TO FORM

				</p>
				<ul>
					<li><a href="https://sos-save-our-spectrum.org/?lang=en" target="blank">The SOS Website</a></li>
					<li><a href="https://youtu.be/q2bykgueC1I" target="blank">The Video (Explains the reason behind the Collaboration)</a></li>
					<li><a href="">Interview with Robert Hamilton of TCfSI by Dr. Jochen Zenthöfer of SOS</a></li>
				</ul>
				
				

				<img src="{{ url_for('static', filename='images/SOS-Logo.png') }}">

			</div>
		</div>
	</div>
</div> <!-- container -->
{% endblock %}