{% extends 'layout.html' %}

{% block content %}
{% include 'concept_nav.html' %}



<div class="container-fluid d-flex flex-column">	

	<div class="row vh-100">

		<div class="col-lg-3 tier-illustration tier-1-painter"
			data-bs-toggle="tooltip" 
			data-bs-placement="bottom" 
			data-bs-title="Click to go back to the Concept">
			
		</div>

		<div class="col-lg-6 inner-main-content">

			<ul class="nav nav-tabs nav-fill">
			  <li class="nav-item">
			    <a class="nav-link active" id="nav-tier1-tab" data-bs-toggle="tab" data-bs-target="#nav_tier1" type="" role="tab" aria-controls="nav-completed" aria-selected="false"><span class="text-uppercase fw-bold ">Tier 1 </span>- Intrapersonal</a> 
			  </li>
			  <li class="nav-item">
			    <a class="nav-link"  id="nav-tier2-tab" data-bs-toggle="tab" data-bs-target="#nav_tier2" type="" role="tab" aria-controls="nav-completed" aria-selected="false"><span class="text-uppercase fw-bold ">Tier 2 </span>- Interpersonal</a> 
			  </li>
			  <li class="nav-item">
			    <a class="nav-link"  id="nav-tier3-tab" data-bs-toggle="tab" data-bs-target="#nav_tier3" type="" role="tab" aria-controls="nav-completed" aria-selected="false"><span class="text-uppercase fw-bold ">Tier 3 </span>- Extrapersonal</a> 
			  </li>
			</ul>

			 <div class="tab-content pt-3" id="nav-tabContent">
                <div class="tab-pane fade active show " id="nav_tier1" role="tabpanel" aria-labelledby="nav_tier1-tab" tabindex="0">
                	<h2 class="mt-3 mb-3">Tier 1 - Intrapersonal / Within / Individual</h2>
					<p class="fs-5">
						Sympathetic Intelligence at the individual level, is the Need, Capacity and Desire to be in sympathy with our environment. It relies on the 3 primary intelligence faculties of Gut, Mind and Heart. The SI sense and response capacity is determined by the brain's capacity to integrate these three primary intelligences into one simultaneous response and behavior. Using this Executive capability we process stimuli prompted senses and convert them into feelings that are either instinctual, cognitive or emotional, which we then rely upon to respond in a cohesive manner that is In Sympathy with the context of our surroundings. The integration is seamless, spontaneous and continual and focused on returning behavior that is appropriate and assures life quality on a continuum from survival to optimal.
					</p>
					<h5>Gut</h5>
					<p>
						By 'Gut' of course we mean 'Instinct'. Each of us has innate and primal motivators that are designed to cause us to interpret and then react according to 'programmed' responses. For example, we feel hungry, or we feel tired. In either case we react by taking action. We eat, or we go to bed. There is a huge variety of instincts, all designed to help each of us to succeed, but here too we have a motivator that his designed to help the species succeed. This is very important as it establishes a key distinguisher between Symathetic Intelligence, and other 'intelligences'. SI is not just about 'you' - it is also about 'Us'!!
					</p>					

					<h5>HEART</h5>
					<p>
						Pascal famously said - 'The heart has reason of which the mind does not know'. Here we are concerned with our individual emotions, a different set of feelings that have to do with our 'state' of being, or perhaps better stated - our sense of our state of being. Here are some of the primary emotions;- Sadness, Hapiness, Fear, Anger, Disgust, Surprise and Regret. Over the years academics have created an ever and increasingly larger set of 'emotions', each being ever more nuanced and addressing ever more sophisticated forms of feelings.
					</p>	

					<h5>MIND</h5>
					<p>
						By 'Mind' we mean 'Cognition' or 'Reason'. Each of us has the capacity to contemplate any portion of our existence from a completely rational basis. We can 'Calculate' from a cold determination of the facts in front of us and make predicitions or projections. Again, this is a capacity we have that will help us survive. But, now we also have the capacity for conflict - in other words how do our projections fit with our innate motivators? We are hungry, but does our reason determine that there is a risk involved in making the effort to address our hunger in the circumstances? Further still - is the risk worth taking?
					</p>

					                </div>
                <div class="tab-pane fade" id="nav_tier2" role="tabpanel" aria-labelledby="nav_tier1-tab" tabindex="0">
                	<h2 class="mt-3 mb-3">Tier 2 - Interpersonal / Between / Social</h2>
                	<p class="fs-5">
						Sympathetic Intelligence at this level is driven by a survivalist Need, Desire and Capacity to belong or be connected by the individual, but extends intelligence beyond the individual and is said to be within, between and amongst all of us. It starts with person-to-person engagement and builds to an ever-strengthening attachment with those immediately around each individual extending to a social network as we become members of groups such as partnerships, teams and communities. We first match, then connect and bond. Sympathetic Intelligence at this level becomes a multi-layered Collective phenomenon that manifests in a multitude of ways from flow states visible in teams to the vibes felt in audiences.
					</p>
					<h5>MATCH</h5>
					<p>
						Driven by our individual desire to belong, when we meet others, we strive to match ourselves by our behavior with them. We can sense the degree to which we are succeeding and we self correct in the moment to conduct ourselves in a like manner with them. If for example we are in a new environment and those around us are familiar with this environment, we will strive to 'match or copy' their behavior in a bid to fit in.
					</p>
					<h5>CONNECT</h5>
					<p>
						To the extent we are successful in matching the behavior of those around us, we will be able to blend in, and as we blend in we become ever and more increasingly connnected to those around us. We become as familiar as the furniture in the room and those around us are pleased that are presence is felt.
					</p>
					<h5>BOND</h5>
					Now that we are as accepted in the environment as the furniture, we become a part of the context - we are bonded to those around in relationships such as work colleagues or closer as in friendship. Of course the context will play a role in determining what kind of bonds are created and the strentght of them.
                </div>
                <div class="tab-pane fade" id="nav_tier3" role="tabpanel" aria-labelledby="nav_tier1-tab" tabindex="0">
                	<h2 class="mt-3 mb-3">Tier 3 - Extrapersonal / Amongst / Community</h2>
                	<p class="fs-5">
                		Sympathetic Intelligence at this level is visible in the day to day activities of societies through their cultures, conformity and compliance through common purpose, adherence to standards and norms, including the rules and laws of order necessary for a community to execute on the social contract deeply embodied in our communal existence. At this level it is not possible for it to present in collective spontaneous behavior, but can present as a sense of national pride or togetherness visible during certain special occasions. We rely on this level of Sympathetic Intelligence as we Live, Learn and Work.
                	</p>
                	<h5>LIVE</h5>
                	<p>
                		This can be thought of as the social element of these three tiers. We are born into a family and it is here that we first learn the skills of mixing with people and forming bonds. This is our close knit relationships - our 'kinship' as it were. Here we have family, friends and eventually we meet our spouse and grow our own family.
                	</p>
                	<h5>LEARN</h5>
                	<p>
                		This is where we learn to adapt to the more external element of our social existence. Here we learn our culture and accepted norms.
                	</p>
                	<h5>WORK</h5>
                	<p>
                		We build on what we have developped in the two other tiers to engage and integrate as fully as possible with our work environment.
                	</p>
                </div>
            </div>

			

		</div>

		<div class="col-lg-3">
			
		</div>

	</div><!-- row -->

</div> <!-- container -->


{% endblock %}