{% extends 'layout.html' %}

{% block content %}
{% include 'center_nav.html' %}
<div class="container-fluid min-vh-100 d-flex flex-column">	
	<div class="row big-image inner-page">
		<div class="col-lg-3 mt-5">
			
		</div>
		<div class="col-lg-6 bg-white mt-5">
			<div class="inner-main-content">
				<h2>Volunteering</h2> 
				<p><h5>Web Developers Needed</h5></p>
				<p>
				The Center's work is at it's earliest stages of development. In these modern times, no initiative will take root and grow without a compelling web site. At the moment our Web site development team needs volunteers to help us build and develop the site. If you are starting out with a desire to get into software development, you will likely need to develop web site coding skills, and so this may be an excellent opportunity for you. Below is a description of the site build and framework. If you think you have the requisite skills to contribute - please reach out to us and let us know.
				</p>
				<p>
				<em>The TCFSI website is a python Flask application. It is hosted on AWS using ElasticBeanstalk/Route54/CodePipeline. Changes to the master branch are configured to be deployed live autonamtically via CodePipeline.</em></p>
				<p>
				<em>The dev branch should be used as the main development branch. Dev should always be in sync with master. When making updates to the website create a new branch and a pull request to dev for review. When your change is approved it should be merged into dev and tested. If after merging your branch into dev everything looks as expected, a pull request should be made to the master branch. An authotirsed user should merge the pull request into master which will kick off the deployment to the live site: http://thecenterforsympatheticintelligence.org/</em></p>


			</div>
		</div>
	</div>
</div> <!-- container -->
{% endblock %}