<div class="card float-lg-end d-none d-lg-block py-5 pe-5 bg-purple">
	<ul class="list-group list-group-flush panels-menu mb-5">
		<li class="list-group-item bg-yellow mb-2"><a href="{{ url_for('police_panel', theme='center') }}" class="text-reset text-decoration-none">The Police Panel</a></li>
		<li class="list-group-item bg-orange mb-2"><a href="{{ url_for('education_panel', theme='center') }}" class="text-reset text-decoration-none">The Education Panel</a></li>
		<li class="list-group-item bg-green mb-2"><a href="{{ url_for('arts_panel', theme='center') }}" class="text-reset text-decoration-none">The Arts Panel</a></li>
		<li class="list-group-item bg-blue clr-white mb-2"><a href="{{ url_for('healthcare_panel', theme='center') }}" class="text-reset text-decoration-none">The Healthcare Panel</a></li>
	</ul>
	
</div>